Raw Data Submission - Small - blank.xlsx
Raw Data Submission - Small - Copy.xlsx
Raw Data Submission - Small.xlsx
temp.csv
.vscode/launch.json
DefectPytical.db
measurementsToTable.py
mrp-plattsburgh po 103400 nc 6-22-2023.pdf
mrp-plattsburgh po 103503 nc 6-22-2023_page_1.pdf
mrp-plattsburgh po 103503 nc 6-22-2023_page_2.pdf
mrp-plattsburgh po 103503 nc 6-22-2023.pdf
pdfsplit
riskmodelpy
measurementsToTable.py
